<main>
  {{#if hasProducts }}
    <h1>My Products</h1>
    <p>The list of the products:</p>
    <div class="grid">
      {{#each prods }}
        <article class="card product-item">
          <header class="card__header">
            <h2 class="product__title">{{ this.title }}</h2>
          </header>
          <div class="card__image">
            <img src="https://placebear.com/g/300/400", alt="A Book">
          </div>
          <div class="card__content">
            <h2 class="product__price">$19.99</h2>
            <p class="product__description">A vary intresting book about so many even more intresting things!</p>
          </div>
          <div class="card__actions">
            <button class="btn">Add to Cart</button>
          </div>
        </article>
      {{/each }}
    </div>
  {{else }}
    <h1>No Products Found</h1>
  {{/if }}
</main>
